p {
  color: darkgoldenrod;
}

body {
  background-color:floralwhite
}

body {
    font-family: 'Comforter Brush', serif;
}

#Owl{
  border: 4px solid black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

body {
    background-color: floralwhite
}

body
    h1 { font-family: Papyrus, fantasy; font-size: 48px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 18px; } h2 { font-family: Papyrus, fantasy; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Papyrus, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 12.6px; } blockquote { font-family: Papyrus, fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Papyrus, fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
}


#Intro {
  background-color: black;
  font-size: 300px;
  color: red;
  
}

/*this is for spotlight cursror, need to add javascript*/

:root {
  --mouse-x: 50%;
  --mouse-y: 50%;
}

.Intro {
  margin: 0;
  height: 100vh;
  background-image: url(https://www.ajc.com/resizer/nfEnUs_B3hejeDlZc-_MnIPUpJE=/814x458/cloudfront-us-east-1.images.arcpublishing.com/ajc/JB2E4XMMG4QCZLLB3UPUEDPZRI.jpg);
  background-position: center center;
  background-size: cover;
}

.mask {
  width: 100vw;
  height: 100vh;
  background-color: hsla(0,0%,0%, 0.9);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
}

/*javscript for cursor

// Get a reference to the .mask element.
const mask = document.querySelector('.mask');

// Add an event to catch mouse movements.
document.addEventListener('pointermove', (pos) => {
  
    // Calculate mouse position in percentages.
    let x = parseInt( pos.clientX / window.innerWidth * 100 );
    let y = parseInt( pos.clientY / window.innerHeight * 100 );
  
    // Update the custom property values on the body.
    mask.style.setProperty('--mouse-x', x + '%');
    mask.style.setProperty('--mouse-y', y + '%'); 
  
});
*/
.navigation_tab {

}
/*OVO team page styles below */

.team_container{
  width: 85vmin;
  /*position: absolute;*/
  transform: translate (-50%,-50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 10px solid black;
}
.team_wrapper{
  width: 100%;
  display: flex;
  animation: slide 25s infinite;
}
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  10%{
    transform: translateX(-25%);
}
20%{
  transform: translateX(-50%);
}
40%{
  transform: translateX(-100%);
}
50%{
  transform: translateX(-150%);
}
55%{
  transform: translateX(-200%);
}
65%{
  transform: translateX(-250%);
}
75%{
  transform: translateX(-305%);
}
80%{
  transform: translateX(-355%);
}
85%{
  transform: translateX(-400%);
}
95%{
  transform: translateX(-450%);
}
100%{
  transform: translateX(-500%);
}
}

.Team{
  width: 65%
}

#ovoTeam{
  background-color:grey;
}