p {
  color: darkgoldenrod;
}

body {
  background-color:floralwhite
}

body {
    font-family: 'Comforter Brush', serif;
}

#Owl{
  border: 4px solid black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#homebody {
    background-color: black
}

body {
  color: white;
}
    h1 { font-family: Papyrus, fantasy; font-size: 48px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 18px; } 
    h2 { font-family: Papyrus, fantasy; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
    p { font-family: Papyrus, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 12.6px; } 
    blockquote { font-family: Papyrus, fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
    pre { font-family: Papyrus, fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;}



#Intro {
  background-color: black;
  font-size: 300px;
  color: red;
  
}


/*this is for spotlight cursror, need to add javascript*/

:root {
  --mouse-x: 50%;
  --mouse-y: 50%;
}

.Intro {
  margin: 0;
  height: 100vh;
  background-image: url(https://www.ajc.com/resizer/nfEnUs_B3hejeDlZc-_MnIPUpJE=/814x458/cloudfront-us-east-1.images.arcpublishing.com/ajc/JB2E4XMMG4QCZLLB3UPUEDPZRI.jpg);
  background-position: center center;
  background-size: cover;
}

.mask {
  width: 100vw;
  height: 100vh;
  background-color: hsla(0,0%,0%, 0.9);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
}

/*javscript for cursor

// Get a reference to the .mask element.
const mask = document.querySelector('.mask');

// Add an event to catch mouse movements.
document.addEventListener('pointermove', (pos) => {
  
    // Calculate mouse position in percentages.
    let x = parseInt( pos.clientX / window.innerWidth * 100 );
    let y = parseInt( pos.clientY / window.innerHeight * 100 );
  
    // Update the custom property values on the body.
    mask.style.setProperty('--mouse-x', x + '%');
    mask.style.setProperty('--mouse-y', y + '%'); 
  
});
*/
.navigation_tab {

}
/*OVO team page styles below */

.team_container{
  width: 85vmin;
  /*position: absolute;*/
  transform: translate (-50%,-50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 10px solid black;
  border-radius: 15% 38% 44% 72%;
  opacity: 0.48;
}
.team_wrapper{
  width: 100%;
  display: flex;
  animation: slide 25s infinite;
}
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  10%{
    transform: translateX(-25%);
}
20%{
  transform: translateX(-50%);
}
40%{
  transform: translateX(-100%);
}
50%{
  transform: translateX(-150%);
}
55%{
  transform: translateX(-200%);
}
65%{
  transform: translateX(-250%);
}
75%{
  transform: translateX(-305%);
}
80%{
  transform: translateX(-355%);
}
85%{
  transform: translateX(-400%);
}
95%{
  transform: translateX(-450%);
}
100%{
  transform: translateX(-500%);
}
}

.Team{
  width: 65%
}

.ovoTeam{
  background-color:black;
}
/*Styling for Countdown timer on home page*/
.container {
  margin-top: 50px;
}
.counter .title {
    color: #dd7700;
    font-size: 16px;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.counter .sq {
    color: #dd7700;
    display: inline-block;
    text-align: center;
}
.counter .sq .bord {
    border: 3px solid #dd7700;
    padding: 12px 15px;
    margin-right: 18px;
    text-indent: 0px;
    font-family: 'Helvetica';
    font-size: 22px;
    font-size: 2.2rem;
    margin-bottom: 5px;
    width: 54px;
}
.counter .sq span {
    clear: both;
    display: block;
    text-indent: -15px;
    font-size: 25px;
    font-size: 1.6rem;
    font-family: "Helvetica";
}
.well {
  text-align: center;
  max-width: 400px;
}

/*Styling for Slideshow on OVO Sound Page*/
/*Styling for Slideshow on OVO Sound Page*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: inline;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}